{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile-container">
  <h2 class="is-size-3 has-text-centered">Search Profiles</h2>

  <!-- 検索フォーム -->
  <form method="get" action="{% url 'authentications:diary_search' %}" class="mt-5">
    <div class="field has-addons has-text-centered">
      <div class="control is-expanded">
        <input
          class="input"
          type="text"
          name="username"
          placeholder="Enter username"
          value="{{ request.GET.username|default:'' }}"
          required
        />
      </div>
      <div class="control">
        <button class="button is-info" type="submit">Search</button>
      </div>
    </div>
  </form>

  <!-- エラーメッセージ -->
  {% if error %}
  <p class="has-text-centered has-text-danger mt-5">{{ error }}</p>
  {% elif user %}
  <!-- 検索結果の表示 -->
  <h2 class="is-size-3 has-text-centered mt-5">{{ user.username }}'s Diaries</h2>

  {% if user_diary %}
  <div class="diary-list">
    {% for diary in user_diary %}
    <div class="diary-card">
      {% if diary.recipe %}
      <img
        src="{% if diary.recipe.recipe_image %}{{ diary.recipe.recipe_image.url }}{% else %}{% static 'images/sample/sample1.png' %}{% endif %}"
      />
      <h4>{{ diary.recipe.recipe_info|striptags|slice:":50" }}...</h4>
      <p><strong>Weather:</strong> {{ diary.recipe.weather }}</p>
      <p><strong>Mood:</strong> {{ diary.recipe.mood }}</p>
      <p><strong>Budget:</strong> {{ diary.recipe.budget }} NTD</p>
      <p><strong>Serving Size:</strong> {{ diary.recipe.num_people }} people</p>
      {% endif %}
      <p><strong>Rating:</strong> {{ diary.rating }}/5</p>
      <p><strong>Comments:</strong> {{ diary.comments }}</p>
      <p><strong>Created At:</strong> {{ diary.created_at }}</p>
      <form
        method="get"
        action="{% url 'recipe:diary_detail' pk=diary.pk %}"
        style="display: inline"
      >
        <button type="submit" class="btn is-link is-small mt-3">
          View Details
        </button>
      </form>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="has-text-centered">No diaries found for this user.</p>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
