{% extends 'base.html' %} {% block content %}
<div class="profile-container">
  <h2 class="is-size-3 has-text-centered">{{ user.username }}'s Diaries</h2>
  <div class="mt-5 has-text-centered">
    <a href="{% url 'authentications:edit' %}" class="button is-info"
      >Edit profile</a
    >
  </div>
  {% if user_diary %}
  <h3 class="is-size-4 has-text-centered mt-5"></h3>
  <div class="diary-list">
    {% for diary in user_diary %}
    <div class="diary-card">
      {% if diary.recipe %}
      <h4>{{ diary.recipe.recipe_info|striptags|slice:":50" }}...</h4>

      <p><strong>Weather:</strong> {{ diary.recipe.weather }}</p>
      <p><strong>Mood:</strong> {{ diary.recipe.mood }}</p>
      <p><strong>Budget:</strong> {{ diary.recipe.budget }} NTD</p>
      <p><strong>Serving Size:</strong> {{ diary.recipe.num_people }} people</p>
      {% endif %}
      <p><strong>Rating:</strong> {{ diary.rating }}/5</p>
      <p><strong>Comments:</strong> {{ diary.comments }}</p>
      <p><strong>Created At:</strong> {{ diary.created_at }}</p>
      <form
        method="get"
        action="{% url 'recipe:diary_detail' pk=diary.pk %}"
        style="display: inline"
      >
        <button type="submit" class="btn is-link is-small mt-3">
          View Details
        </button>
      </form>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="has-text-centered">No diaries found for this user.</p>
  {% endif %}
</div>
{% endblock %}
