{% extends 'base.html' %} {% block content %}
<div class="delete-confirm-container">
  <div class="delete-confirm-card">
    <article class="message is-danger">
      <div class="message-header">
        <p>Delete Confirmation</p>
      </div>
      <div class="message-body">
        <p>Are you sure you want to delete the following post?</p>
        <hr />
        <div class="diary-info">
          <p><strong>Author:</strong> {{ diary.author }}</p>
          <p><strong>Created on:</strong> {{ diary.created_at }}</p>
        </div>
        <hr />
        <div class="recipe-info">
          <h4>Recipe:</h4>
          <div>{{ diary.recipe.recipe_info|safe }}</div>
        </div>
        <hr />
        <form method="POST" class="buttons">
          {% csrf_token %}
          <button class="button is-danger" type="submit">Delete</button>
          <a
            href="{% url 'recipe:diary_detail' diary.pk %}"
            class="button is-light"
            >Cancel</a
          >
        </form>
      </div>
    </article>
  </div>
</div>
{% endblock %}
