Z{% extends 'base.html' %} {% block content %}
<div class="delete-confirm-container">
  <div class="delete-confirm-card">
    <article class="message is-danger">
      <div class="message-header">
        <p>削除確認</p>
      </div>
      <div class="message-body">
        <p>以下の投稿を削除してもよろしいですか？</p>
        <hr />
        <div class="diary-info">
          <p><strong>投稿者:</strong> {{ diary.author }}</p>
          <p><strong>作成日:</strong> {{ diary.created_at }}</p>
        </div>
        <hr />
        <div class="recipe-info">
          <h4>レシピ:</h4>
          <div>{{ diary.recipe.recipe_info|safe }}</div>
        </div>
        <hr />
        <form method="POST" class="buttons">
          {% csrf_token %}
          <button class="button is-danger" type="submit">削除</button>
          <a
            href="{% url 'recipe:diary_detail' diary.pk %}"
            class="button is-light"
            >キャンセル</a
          >
        </form>
      </div>
    </article>
  </div>
</div>
{% endblock %}
