{% extends 'base.html' %} {% load static %} {% block content %}
<body class="c1">
  <div id="container">
    <main>
      <!-- 検索フォーム -->
      <form method="get" action="{% url 'recipe:list' %}" class="search-form menu">
        <input
          type="text"
          name="keyword"
          placeholder="Search Recipes"
          value="{{ request.GET.keyword }}"
          class="input-text"
        />
        <select name="weather" class="input-select">
          <option value="">Select Weather</option>
          <option value="sunny" {% if request.GET.weather == "sunny" %}selected{% endif %}>Sunny</option>
          <option value="rainy" {% if request.GET.weather == "rainy" %}selected{% endif %}>Rainy</option>
          <option value="cloudy" {% if request.GET.weather == "cloudy" %}selected{% endif %}>Cloudy</option>
        </select>
        <select name="mood" class="input-select">
          <option value="">Select Mood</option>
          <option value="happy" {% if request.GET.mood == "happy" %}selected{% endif %}>Happy</option>
          <option value="sad" {% if request.GET.mood == "sad" %}selected{% endif %}>Sad</option>
          <option value="energetic" {% if request.GET.mood == "energetic" %}selected{% endif %}>Energetic</option>
        </select>
        <input
          type="number"
          name="budget"
          placeholder="Max Budget (NTD)"
          value="{{ request.GET.budget }}"
          class="input-text"
        />
        <input
          type="number"
          name="num_people"
          placeholder="Number of People"
          value="{{ request.GET.num_people }}"
          class="input-text"
        />
        <input
          type="number"
          name="rating"
          placeholder="Rating"
          value="{{ request.GET.rating }}"
          class="input-text"
        />
        <button type="submit" class="btn">Search</button>
      </form>
      

      <!-- レシピリスト -->
      {% if object_list %}
      <section class="recipe-list">
        {% for recipe in object_list %}
        <div class="recipe-card">
          <div class="card-content">
            {% if recipe.recipe_image %}
            <img
              src="{{ recipe.recipe_image.url }}"
              class="recipe-image"
            />
            {% else %}
            <img
              src="{% static 'images/sample/sample1.png' %}"
              class="recipe-image"
            />
            {% endif %}
            <div class="recipe-details">
              <p>{{ recipe.recipe_info|safe }}</p>
              <p>Weather: {{ recipe.weather|default:"Not specified" }}</p>
              <p>Mood: {{ recipe.mood|default:"Not specified" }}</p>
              <p>Budget: {{ recipe.budget|default:"Not specified" }} NTD</p>
              <p>Number of People: {{ recipe.num_people|default:"Not specified" }}</p>
              <p>
                Rating: 
                {% if recipe.diary_set.exists %}
                  {{ recipe.diary_set.first.rating|default:"No rating available" }}
                {% else %}
                  No diary linked
                {% endif %}
              </p>
              <p class="created-at">Created at: {{ recipe.created_at }}</p>
            </div>
            
          </div>
        </div>
        {% endfor %}
      </section>
      {% else %}
      <p>Not found</p>
      {% endif %}

      <!-- ページネーション -->
      <div class="pagination">
        <span> {{ page_obj.number }} / {{ page_obj.paginator.num_pages}}</span>
        <div class="pagination-links">
          {% if page_obj.has_previous %}
          <a
            href="?keyword={{ request.GET.keyword }}&page={{ page_obj.previous_page_number }}"
            class="button is-light"
            >Back</a
          >
          {% endif %} {% if page_obj.has_next %}
          <a
            href="?keyword={{ request.GET.keyword }}&page={{ page_obj.next_page_number }}"
            class="button is-dark"
            >Next</a
          >
          {% endif %}
        </div>
      </div>
    </main>
  </div>
</body>
{% endblock %}
