<form method="get" action="{% url 'recipe:list' %}">
  <input
    type="text"
    name="keyword"
    placeholder="レシピを検索"
    value="{{ request.GET.keyword }}"
  />
  <button type="submit">検索</button>
</form>

{% for recipe in object_list %}
<div>
  <p>{{ recipe.recipe_info|safe }}</p>
</div>
{% endfor %}

<!-- ページネーション -->
<div>
  <span>ページ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
  <div>
    {% if page_obj.has_previous %}
    <a
      href="?keyword={{ request.GET.keyword }}&page={{ page_obj.previous_page_number }}"
      >前へ</a
    >
    {% endif %} {% if page_obj.has_next %}
    <a
      href="?keyword={{ request.GET.keyword }}&page={{ page_obj.next_page_number }}"
      >次へ</a
    >
    {% endif %}
  </div>
</div>
