{% extends 'base.html' %} {% load static %} {% block content %}
<div id="container">
  <main>
    <!-- 検索フォーム -->
    <form
      method="get"
      action="{% url 'authentications:profile_edit' %}"
      class="search-form menu"
    >
      <input
        type="text"
        name="keyword"
        placeholder="レシピを検索"
        value="{{ request.GET.keyword }}"
        class="input-text"
      />
      <button type="submit" class="btn">検索</button>
    </form>

    <!-- レシピリスト -->
    {% if object_list %}
    <section class="recipe-list">
      {% for recipe in object_list %}
      <div class="recipe-card">
        <figure>
          <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" />
        </figure>
        <div class="card-content">
          <h4>{{ recipe.title }}</h4>
          <p>{{ recipe.recipe_info|safe }}</p>
          <p class="created-at">
            作成日: {{ recipe.created_at|date:"Y年m月d日" }}
          </p>
        </div>
      </div>
      {% endfor %}
    </section>
    {% else %}
    <p>検索結果が見つかりませんでした。</p>
    {% endif %}

    <!-- ページネーション -->
    <div class="pagination">
      <span
        >ページ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span
      >
      <div class="pagination-links">
        {% if page_obj.has_previous %}
        <a
          href="?keyword={{ request.GET.keyword }}&page={{ page_obj.previous_page_number }}"
          class="button is-light"
          >前へ</a
        >
        {% endif %} {% if page_obj.has_next %}
        <a
          href="?keyword={{ request.GET.keyword }}&page={{ page_obj.next_page_number }}"
          class="button is-dark"
          >次へ</a
        >
        {% endif %}
      </div>
    </div>
  </main>
</div>
{% endblock %}
