{% load static %}
<header>
  <h1 id="logo">
    <a href="{% url 'authentications:index' %}"
      ><img src="{% static 'images/logo.png' %}" alt="食譜推薦系統"
    /></a>
  </h1>
  <ul>
    {% if request.user.is_authenticated %}
    <li>
      <a href="{% url 'authentications:profile' user.pk %}"
        >Welcome, {{ request.user }}!</a
      >
    </li>
    <li><a href="{% url 'authentications:logout' %}">Logout</a></li>
    {% else %}
    <li>
      <a href="{% url 'authentications:signup' %}"><strong>Sign up</strong></a>
    </li>
    <li><a href="{% url 'authentications:login' %}">Login</a></li>
    {% endif %}
  </ul>
</header>
